#content {
    position: relative;
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-gap: 20px;
}

#sidebar {
    text-align: left;
}

#menu img {
    size: 10%;
}

#menu #logo {
    background-color: grey;
    width: 100%;
    height: 50px;
}

#map {
    position: relative;
    background-color: grey;
    height: 90vh;
}

#footer {
    text-decoration: none;
    text-align: center;
}

#nowplaying {
    background-color: grey;
    width: 18vw;
    height: 18vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer p {
    font-size: 70%;
}

#footer p span {
    font-size: 100%;
}
