#menu {
    float: left;
    text-align: left;
}

#menu img {
    size: 10%;
}

#menu #placeholder {
    background-color: grey;
    width: 18vw;
    height: 6vw;
}

#content {
    width: 75vw;
    height: 80vh;
    margin-left: 20vw;
    background-color: grey;
}

#footer {
    text-decoration: none;
    text-align: center;
    float: bottom;
}
#footer p{
    font-size: 70%;
}
#footer p span{
    font-size: 100%;
}