#menu {
    float: left;
    text-align: left;
}

#content {
    margin-left: 20vw;
}

#footer {
    text-decoration: none;
    text-align: center;
    float: bottom;
}
#footer p{
    font-size: 70%;
}
#footer p span{
    font-size: 100%;
}